.jumbotron{
    font-family: 'Mina', sans-serif;
}
.card-title{
    font-size: 16px;
    color: rgb(182, 179, 7);  
}
.card-text{
    font-size: 12px;
}
.display-2, .lead{
    text-align: center;
}
.title{
    font-family: 'Mina', sans-serif; 
}
